body{
    height: 3350px;
    background-color: grey;
}


.epic2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: large;
    margin-left: 20px;
}

.epic3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: large;
    margin-left: 20px;
}

.gold1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: large;
    margin-left: 20px;
}


.elitetop{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: large;
    margin-left: 50px;
}

.elite2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-left: 210px;
    margin-top: -150px;
    width: 100px;
}

.elite3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-left: 210px;
    margin-top: -150px;
}


.max1{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.max2{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.max3{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.mass{
    background-color: navajowhite;
    width: 1470px;
    height: 350px;
    
}

.picture{
    margin-left: 1200px;
}

li{
    width: 280px;
    margin-left: 100px;
}


















